body {
    font-family: 'Muli', sans-serif;
    background-color: #f7f7f7;
  }
  
  .form-contact {
    margin: 2rem auto;
  }
  
  .form-contact label {
    font-weight: 700;
  }
  
  .form-contact input,
  .form-contact textarea {
    border: none;
    border-radius: 0;
    background-color: #f7f7f7;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
  
  .form-contact textarea {
    resize: none;
  }
  
  .form-contact button[type="submit"] {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .form-contact button[type="submit"]:hover {
    background-color: #357ae8;
    cursor: pointer;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card-signin {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  textarea.form-control {
    height: auto;
  }
